/**
 * Copyright @ 2023 Sparkle Icons
 * https://github.com/danieledeluca/sparkle-icons
 */

@mixin sparkle-icon($icon) {
    content: map-get($sparkle-icons, $icon);
    display: inline-block;
    font-family: $sparkle-icons-font-family;
}

@mixin sparkle-icon-animation($name) {
    animation: unquote(map-get($sparkle-icon-animations, $name));
}
