/**
 * Copyright @ 2024 Sparkle UI
 * https://github.com/sparkleui/icons
 */

@mixin sparkle-icon($icon: null) {
    @if $icon {
        content: map-get($sparkle-icons, $icon);
    }

    display: inline-block;
    font-family: $sparkle-icons-font-family !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin sparkle-icon-animation($name) {
    animation: map-get($sparkle-icon-animations, $name);
}
