/**
 * Copyright @ 2024 Sparkle UI
 * https://github.com/sparkleui/icons
 */

@font-face {
    font-family: $sparkle-icons-font-family;
    src: $sparkle-icons-font-src;
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='#{$sparkle-icons-prefix}-'],
[class*=' #{$sparkle-icons-prefix}-'] {
    &::before {
        @include sparkle-icon;
    }
}

@each $icon, $value in $sparkle-icons {
    .#{$sparkle-icons-prefix}-#{$icon} {
        &::before {
            content: $value;
        }
    }
}

@each $animation, $value in $sparkle-icon-animations {
    .#{$sparkle-icons-prefix}-#{$animation} {
        &::before {
            animation: $value;
        }
    }
}
